/*
Table of Contents:
0. Global: Spacing & Layout
1. Global: Colors
2. Global: Text
3. Global: Interactive Elements
4. Global: Primary Navigation
5. Global: Footer
*/


/* 2. Global: Text */

body {
  background-color: #3D7DCA;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.6;
  margin: 0;
}

/* 0. Global: Spacing & Layout */

.navlist {
  padding: 50px;
}

.navlist li {
  display: inline-block;
  margin-left: 25px;
  font-size: 20px;
  list-style-type: none;
}
.page-header {
  display: inline-flex;
  width: 95%;
  padding: 20px;
}

.pokedex-filter {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.results {
  margin: auto;
  width: 50%;
  border: 3px solid yellow;
  padding: 10px;
  list-style-type: none;
}

/* 3. Global: Interactive Elements */

.button-class {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid red;
}