/* General card styling */
.card {
  list-style: none;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}

.card:hover {
  animation: bounce 0.5s linear;
}

.card-image {
  height: 180px;
  width: 180px;
}

@keyframes bounce {
  20% {
    transform: translateY(-8px);
  }

  40% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(-4px);
  }

  80% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* pokedex container */
.list-group {
  padding-inline-start: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

/* Body styles */
body {
  background-color: #4d4d4d;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
  line-height: 1.6;
}

/* Header styles */
.navlist {
  padding: 50px;
}

.navlist li {
  display: inline-block;
  margin-left: 25px;
  font-size: 20px;
  list-style-type: none;
}

.page-header {
  display: flex;
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  justify-content: center;
}

/* Pokedex search */
.pokedex-filter {
  display: grid;
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  justify-content: center;
}