{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "quotes": ["error", "single"]
  },
  "capitalized-comments": [
    "error",
    "always",
    {
      "ignorePattern": "pragma|ignored",
      "ignoreInlineComments": true
    }
  ],
  "no-trailing-spaces": [
    "error",
    {
      "skipBlankLines": true
    }
  ]
}